.introducao {
    background-color: red;
    height: auto;
}

.introducao-container {
    background-image: url(../../img/introducao/alura_plus.svg);
    background-repeat: no-repeat;
    height: 680px;
    background-size: contain;
}

.introducao-boxTexto {
    width: 38vw;
    height: 45vh;
    max-width: 588px;
    max-height: 431px;
    margin-left: 3.5rem;
}

.introducao-titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-top: 8rem;
    text-align: center;
}