.cabecalhoPrincipal .container  {
    display: flex;
    align-items: center; /* alinhando ao centro os itens */
    justify-content: space-between; /* bota um espaço entre os dois elementos */
}

.cabecalhoPrincipal-nav {
   display: flex; 
}