.cabecalhoPrincipal .container  {
    display: flex;
    align-items: center; /* alinhando ao centro os itens */
    justify-content: space-between; /* bota um espaço entre os dois elementos */
}

.cabecalhoPrincipal-nav {
   display: flex; 
}

@media screen and (min-width: 0) {
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial; /* tirando o alinhamento ao centro dos itens */
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .cabecalhoPrincipal .container {
        flex-direction: row;
    }
}

@media screen and (min-width: 0) {
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .cabecalhoPrincipal-nav {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .cabecalhoPrincipal-nav-link-app {
        order: -1; /* botando a caixa "nosso app" em primeiro no menu */
    }
}
