.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around; /* espaço em volta dos elementos */
    width: 70%;
    margin: 5%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

@media screen and (min-width: 0) {
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-patrocinadores-list {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .rodapePrincipal-patrocinadores {
        padding: 3% 0
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: row;
        align-items: center;
    }
    .rodapePrincipal-contatoForm {
        width: 25%;   
    }
}